@font-face {
    font-family:Roboto;
    src: url(Fonts/Roboto-VariableFont_wdth\,wght.ttf);
}
body{
    display: flex;
    flex-direction: column;
    margin: 0;


    font-family:Roboto;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 10px;
}
.header-logo{
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    padding: 10px;
}
.header-links{
    display: flex;
    gap: 20px;
}
a{
    text-decoration: none;
    color: lightgray;
}



.header ,.introduction{
    background-color: #1f2937;
    color: white;
    padding: 0 180px;
}


.introduction{
    display: flex;
    justify-content: space-around;
}
.introduction-message{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;


    height: 500px;
    padding: 10px;
}
.introduction-main-message{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    padding: 10px;
    padding-left: 0px;
}
.introduction-secondary-message,
.header-links{
    font-size: 18px;
    color: #E5E7EB;

    padding: 10px;
    padding-left: 0px;
}
.introduction-button{
    background-color: #3882f6;
    color: #f9faf8;
    width: 140px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    border: none;
}
.img{
    flex: 1;
    display: flex;
    align-items: center;
    padding: 10px;
}

.information{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.information-title{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 20px;
}
.information-container{
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    padding: 20px;
    margin-bottom: 80px;
}
.information-item{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 200px;
    border: #3882f6;
    border: 10px;
}
.information-item img{
    border-radius: 20px;
    image-rendering: crisp-edges;
}
.information-item-text{
    font-size: 18px;
    text-align: center;
    color: #E5E7EB;
    color: rgb(77, 77, 77);
    padding: 4px;
}

.quote{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    min-height: 200px;
}
.quote-text{
    font-size: 30px;
    font-weight: 300;
    color: #1f2937;
    max-width: 800px;
    margin-bottom: 6px;
}
.quote-author{
    width: 800px;
    display: flex;
    justify-content: end;
    padding-right: 20px;
    margin-top: 6px;
    font-weight: bold;
    font-size: 20px;
}

.signup-section{
    height: 300px;    
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-block{
    background-color: #3882f6;
    height: 100px;
    padding: 20px 100px;
    width: 800px;
    border-radius: 10px;
    display: flex;
    
    align-items: center;
    justify-content: space-between;
}
.signup-message{
    color: #e7e1e1;
}
.signup-main-message{
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-bottom: 6px;
}
.signup-block button{
    width: 140px;
    height: 40px;
    background-color: transparent;
    border-color: white;
    border-radius: 8px;
    border-width: 3px;
    border-style:solid;

    font-size: 18px;
    font-weight: bold;
    color: white;
}

.footer{
    background-color: #1f2937;;
    height: 80px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    color: white;
}